<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand"><img src="/logo1.png" width="120" height="30" alt="#" 
        class="d-inline-block align-top rounded"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
         <% if(user)
            { %>
              <li class="nav-item">
                <a class="nav-link" href="/welcomeback">Back</a>
              </li>
          <% }
          else
          { %>
            <li class="nav-item">
              <a class="nav-link" href="/">Back</a>
            </li>
        <% }
         %>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('https://gitcdn.link/cdn/Lucifergene/blogvista/aa8d8504de32b91792d425b7a0fbaaf1b27795c8/public/img/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4">


       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
          margin: auto;
          text-align: center;
          font-family: arial;
        }
        
        .title {
          color: grey;
          font-size: 18px;
        }
        
        button {
          border: none;
          outline: 0;
          display: inline-block;
          padding: 8px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        
        a {
          text-decoration: none;
          font-size: 22px;
          color: black;
        }
        
        button:hover, a:hover {
          opacity: 0.7;
        }
        </style>
        </head>
        <body>
        
        <h2 style="text-align:center"></h2>
        
        <div class="card">
          <img src="/12.png" alt="John" style="width:100%">
          <h1>Avik Kundu</h1>
          <p class="title">Developer, BlogVista
            <br>
            Roll : 1828008
          </p>
          <p>KIIT University</p>
          <div style="margin: 24px 0;">
            <!-- <a href="#"><i class="fa fa-dribbble"></i></a>  -->
            <a href="https://twitter.com/AbheekKundu"><i class="fa fa-twitter" style="font-size:36px"></i></a>  
            <a href="https://www.linkedin.com/in/avik-kundu-0b837715b/"><i class="fa fa-linkedin" style="font-size:36px"></i></a>  
            <a href="https://www.facebook.com/avikonweb"><i class="fa fa-facebook" style="font-size:36px"></i></a>
            <a href="mailto:avik.kiit@outlook.com?Subject=Hello%20Avik"><i class="fa fa-envelope" style="font-size:36px"></i></a>

          </div>
          
        </div>    
        
    </div>
    <div class="col-lg-8 col-md-8">
                <br>
        <p><span style="font-family: Arial, Helvetica, sans-serif;"><strong>BlogVista is built on MEBN Stack.</strong></span><span style="font-family: Calibri;">&nbsp;</span></p>
        <ul style="list-style-type: disc;">
        <li><span style="font-family: Arial, Helvetica, sans-serif;">MongoDB : Database</span></li>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">Express : Web Framework</span></li>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">Bootstrap 4 : Frontend</span></li>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">Node.JS : Backend</span></li>
        </ul>
        <p><span style="font-family: Arial, Helvetica, sans-serif;"><strong>Additionally,</strong></span><span style="font-family: Calibri;">&nbsp;</span></p>
        <ul>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">Passport.JS : Authentication</span></li>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">TinyMCE Editor : Rich Text Editor</span></li>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">Font-Script : Font Awesome</span></li>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">Intro.JS : On-Boarding Experience</span></li>
        <li><span style="font-family: Arial, Helvetica, sans-serif;">DisQus : Post Comments</span></li>
        </ul>
        <br>
        <strong>Source Code : Email at avik.kiit@outlook.com</strong> 

    </div>
  </div>
</div>
</main>
<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://twitter.com/AbheekKundu">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/avikonweb">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; BlogVista <script>document.write(new Date().getFullYear());</script></p>
      </div>
    </div>
  </div>
</footer>
