<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" >BlogVista</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/welcomeback">Back</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/post">Create Post</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
          </li> 
          <!-- <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>








<!-- Page Header -->
<form action="/posts/store" method="POST">
<header class="masthead" style="background-image: url('https://picsum.photos/1000/100/?random')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>
              <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" name="title" placeholder="Enter Title here..." class="form-control">
              </div>
            </div>
          </h1>
            <p>
              <div class="control-group">
                <div class="form-group text-center">
                  <!-- <label>Description</label> -->
                  <input type="text" name="description" placeholder="Description here..." class="form-control">
                </div>
              </div>
            </p>         
            <input type="text" name="username" placeholder="Posted by..." class="form-control text-center" value="<%= user.name %>">     
          </div>
        </div>
      </div>
    </div>
  </header>
   
  <div class="container">
    <div class="row">
      <div class="col-md-12">       
        <input type="hidden" name="author" value="<%= user.name %>">             

    
        <textarea id="content" name="content" ></textarea>
           

          <div class="form-group my-4 text-center">
            <button class="btn btn-primary">Create Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
