

<div class="view" style="background-image: url(''); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <!-- <form action="/users/register" id="subscribeForm" method="POST" onsubmit="return submitUserForm();"> -->
            
        <!-- <form id="subscribeForm">        -->
        
        <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        
        <div class="form-group my-4 text-center">
          <div class="g-recaptcha" data-sitekey="6LdIXJ4UAAAAABXrSRfyM4VcV55-HyWTu4dyJxiA" data-callback="verifyCaptcha"></div>
              <div id="g-recaptcha-error"></div>
        </div>
                  
        
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
</div>

<!-- <script src='https://www.google.com/recaptcha/api.js'></script>
<script>
function submitUserForm() {
    var response = grecaptcha.getResponse();
    if(response.length == 0) {
        document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
        return false;
    }
    return true;
}
 
function verifyCaptcha() {
    document.getElementById('g-recaptcha-error').innerHTML = '';
}
</script> -->

 
<!-- <script>
    document.getElementById('subscribeForm').addEventListener('submit', submitForm);

    function submitForm(e){
      e.preventDefault();
      
      // const name = document.querySelector('#name').value;
      // const email = document.querySelector('#email').value;
      // const password = document.querySelector('#password').value;
      // const password2 = document.querySelector('#password2').value;
      const captcha = document.querySelector('#g-recaptcha-response').value;

      fetch('/users/register', {
        method:'POST',
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Content-type':'application/json'
        },
        body:JSON.stringify({captcha: captcha})

        // body:JSON.stringify({name:name, email: email , password:password , password2:password2 ,  captcha: captcha})
      })
      .then((res) => res.json())
      .then((data) => {
        // console.log(data);
        alert(data.msg);
      });
    }
  </script> -->
